<div class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#" >
      <h2>Bankchecker</h2>
  </a>
  <div>
      <ul class="navbar-nav " id="myTab" role="tablist">
          <li class="nav-item">
              <a class="nav-link" href="search">Cerca Spese</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="insert">Inserisci Spesa</a>
          </li>
      </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <div class="card cardbox">
        <div class="card-header">
          <h2>Inserisci Spese</h2>
        </div>
        <div class="card-body">
          <div class="form-group">
            <form #insertExpenseForm="ngForm" (ngSubmit)="insert(insertExpenseForm)" id="login-nav" method="post"
              role="form" class="form" accept-charset="UTF-8">
              <div class="form-group">
                <label class="sr-only">
                  <h6>Inserisci la Data:</h6>
                </label>
                <input type="date" id="date" name="date" class="form-control" required ngModel>
              </div>
              <br>
              <div class="form-group">
                <label class="sr-only">
                  <h6>Inserisci la Spesa:</h6>
                </label>
                <div class="form-group">
                  <input type="number" id="value" name="value" class="form-control" placeholder="0" required ngModel
                    pattern="[0-9]+([\\.][0-9]{0,2})?" [(ngModel)]="showAlert" oninvalid="invalid()">
                </div>
                <span *ngIf="!showAlert" style="color:red">inserisci un double</span>
              </div>
              <div class="form-group">
                <br *ngIf="showAlert">
                <label class="sr-only">
                  <h6>Inserisci le Note:</h6>
                </label>
                <div class="form-group">
                  <input type="text" id="notes" name="notes" class="form-control" placeholder="..." required ngModel>
                </div>
              </div>
              <br>
              <div style="text-align: center;">
                <button type="submit" style="width: 150px;" [disabled]="insertExpenseForm.invalid"
                  class="btn btn-primary change">Inserisci</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="card mb-4" *ngIf="insertExpenseForm.submitted">
        <div class="card-header" style="text-align: center;">
          <h3>Spesa inserita Correttamente✔️</h3>
        </div>
        <div class="card-body p-0">
          <!-- Billing history table-->
          <div>
            <table class="table mb-0 fixed">
              <thead>
                <tr>
                  <th class="border-gray-200" scope="col">Data</th>
                  <th class="border-gray-200" scope="col">Spesa</th>
                  <th class="border-gray-200" scope="col">Note</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{expense.date | date:'dd/MM/yyyy'}}</td>
                  <td>{{expense.value}}€</td>
                  <td>{{expense.notes}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>