 <head>
 <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
</head>


<div class="navbar navbar-expand navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#" >
        <h2>Bankchecker</h2>
    </a>
    <div>
        <ul class="navbar-nav " id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="search" >Cerca Spese</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="insert" >Inserisci Spesa</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-xl px-4 mt-4">
    <div id="cover-spin" ></div>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
                    <div class="small text-muted">Spese della Settimana:</div>
                    <div class="h3" style="margin-top:15px;">{{totExpensesWeek | number : '.2-2'}}€</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 2-->
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body">
                    <div class="small text-muted">Ultima spesa effettuata:</div>
                    <div class="h3" style="margin-top:15px;">{{lastExpense | date:'EEEE, d MMMM yyyy'}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 3-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Spese da inizio Mese:</div>
                    <div class="h3" style="margin-top:15px;">{{totExpenseMonth | number : '.2-2'}}€</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Billing history card-->
    <div class="tab-pane fade show " id="home">
        <div class="card mb-4">
            <div class="card-header">Spese della settimana: </div>
            <div class="card-body p-0">
                <!-- Billing history table-->
                <div>
                    <table class="table mb-0 fixed">
                        <thead >
                            <tr >
                                <th class="border-gray fixed" scope="col">Data</th>
                                <th class="border-gray fixed" scope="col">Spesa</th>
                                <th class="border-gray fixed" scope="col">Note</th>
                            </tr>
                        </thead>
                        <tbody  >
                            <tr (click)="onEditExpense(expense)" *ngFor="let expense of expenses">
                                <td>{{expense.date | date:'dd/MM/yyyy'}}</td>
                                <td>{{expense.value}}€</td>
                                <td>{{expense.notes}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="expenses.length==0">
                        <br>
                        <h1>Non sono state effettuate spese durante questa settimana.</h1>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logout">
        <button (click)="logout()" class="btn btn-primary btn-lg ">Logout</button>
    </div>
</div>
<button  [hidden]="true" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal"></button>


<div class="modal fade bd-example-modal-lg" id="viewUserModal" tabindex="-1" role="dialog"
        aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Aggiorna Spesa</h5>
                    <div class=" text-muted">
                     Spesa del giorno: {{editExpense.date | date:'dd/MM/yyyy'}}
                    </div>
                    <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></div>
                </div>
                <div class="modal-body">
                    <div>
                      
                        <div class="card">                         
                            <div class="card-body">
                             
                                    
                                   
                                        <div >
                                          <div class="form-group">
                                            <label for="date" class="margin-right" style="padding:2px;margin-top:2px;"><h5>Data:</h5></label>  
                                            <input  type="date"  (change)="dateObj = $any($event.target).valueAsDate" name="date" id="date" required  class="form-control" [(ngModel)]="editExpense.date">
                                              <div class="form-group">
                                                <label for="value" class="margin-right" style="padding:2px;margin-top:8px;"><h5>Valore:</h5></label>   
                                                <input  type="number" name="value" required  class="form-control" [(ngModel)]="editExpense.value">
                                            </div>
                                            <div class="form-group">
                                              <label for="notes"  class="margin-right" style="padding:2px;margin-top:2px;"><h5>Note:</h5></label>   
                                              <input  type="text" name="notes" required  class="form-control" [(ngModel)]="editExpense.notes" >
                                          </div>
                                </div>
                            </div>                        
                        
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateExpense(editExpense)">Aggiorna</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>