<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="background-image">
	<div class="container">
		<div id="cover-spin" ></div>
		<div class="omb_login">
			<div class="row omb_row-sm-offset-3">
				<div class="col-xs-12 col-sm-6">
					<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
						<h1 class="omb_authTitle">Login </h1>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" name="username" placeholder="Username" ngModel
								#usernameInput="ngModel" required>
						</div>
						<span class="help-block" style="color: red;"
							*ngIf="usernameInput.invalid && usernameInput.touched">Inserisci lo username.</span>
						<br *ngIf="usernameInput.untouched || usernameInput.valid">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control" name="password" placeholder="Password" ngModel
								#passwordInput="ngModel" required>
						</div>
						<span class="help-block" style="color: red;"
							*ngIf="passwordInput.invalid && passwordInput.touched">Fornire una password.</span>
						<br *ngIf="passwordInput.untouched || passwordInput.valid">
						<button class="btn btn-lg btn-primary btn-block" type="submit"
							[disabled]="loginForm.invalid"><span *ngIf="!loading">Login</span><div *ngIf="loading"><div class="spinner-border text-primary" role="status">
							</div><span>Loading...</span></div></button>
					</form>
				</div>
			</div>
			
		</div>
	</div>
</div>
